/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio / VS Code 관련 파일
.vsconfig
.vscode/
.vs/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.db

# 유니티 자동 생성 파일
/[Aa]ssets/AssetStoreTools*

# OS 관련 파일
.DS_Store
Thumbs.db

# Recording 관련 파일
/Recordings
